*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
    box-sizing: border-box;
    margin-right: 10px;
}
.sect1{
    background-image: url("/Assets/images/moving\ 1.png");
    height: 800px;
    width:auto;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;

}

.sect1 > .logo >ul{ 
    margin-left: 500px;
}

.sect1 > .logo > ul > li{
    display: inline-block;
    font-size: 25px;
    padding: 15px;
    color: white;
    margin-top: 30px;}

.LogIn1{
    background-color: #FAFF00;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
}
.LogIn2{
    background-color: black;
    color: #FAFF00;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
}
    .sect1 > .sectContent > h1{
        font-size: 50px;
        margin-left: 100px;
        margin-top: 90px;
        color: #FAFF00;
        font-family: 'Poppins';
    }

.sect1 > .sectContent> p{
    font-size: 30px;
    margin-left: 100px;
    margin-top: 50px;
    color:white;
    font-family: 'Poppins';
    font-weight: 400;

}

.CutTheHustle {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.CutTheHustle>.Hustle{
    margin: 40px;
}
.CutTheHustle> .Hustle h1{
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}
.CutTheHustle > .Hustle p{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 100;
    margin-bottom: 50px;

}
.CutTheHustle > .Hustle button{
    padding: 10px;
    border-top-right-radius: 15px;
    background-color: black;
    color: #FAFF00;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 100;
    content: "\2192";
}

.CutTheHustle>.Hustle span{
    content: "\2192";
    justify-content: center;
    color:#FAFF00;
    
}

.line{
   
    width: 112px;
    height: 40px;
    border-bottom: 4px solid black;
    position:relative
    }
    .card-items{
        height: 125vh;
          width: 100%;
          margin-left: 20px;
          justify-content: center;
        }
        nav>.card-items>#cards>ul>li{
        list-style-type: none;
        display: inline-block;
        flex-direction: row;
        
        }
    #firstPageFooter{
        background-color: #1c1302;
        background-image: linear-gradient(to right top, #000000, #0c0404, #150905, #1a0e04, #1c1302);
        font-family: 'Actor', sans-serif;
    }
    #firstPageFooter > h2{
        font-size: 2.6rem;
        margin-bottom: 60px;
        color: #fff;
        font-weight: 500;
        padding-top: 90px;
        margin-left: 100px;
    }
    .footerSection{
        display: flex;
        justify-content: space-around;
        /* flex-wrap: wrap; */
    }
    .columnHeading > h5{
        color: white;
        font-size: 1.1rem;
    }
    .columnHeading > p{
        color: white;
        font-weight: 500;
        color: grey;
        font-family: 'Poppins', sans-serif;
    }
    .icon-section{
        display: flex;
        gap: 20px;
    }
    .fa-twitter{
        color: white;
        font-size: 24px;
    }
    .fa-facebook{
        font-size: 24px;
        color: white;
    }.fa-instagram{
        font-size: 24px;
        color: white;
    }
    .footerButton{
        color: #e48f1b;
    }
    .border{
        width: 80%;
        margin-bottom: 60px;
        margin-left: 100px;
    }
    .border{
        border: 0.5px solid grey;
    }
    .columnHeading{
        margin-left: 80px;
    }
    