*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
    box-sizing: border-box;
}
.Navbar{
    background-image: image(./Assets/images/moving 1.png)
}
nav >.Links>ul>li{
    display: inline-block;
}