*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
    box-sizing: border-box;
}
.sect1{
    background-image: url("../Assets/images/moving\ 1.png");
    height: 800px;
    width:auto;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;

}

.sect1 > .logo >ul{ 
    margin-left: 500px;
}

.sect1 > .logo > ul > li{
    display: inline-block;
    font-size: 25px;
    padding: 15px;
    color: white;
    margin-top: 30px;}

.sect1 >.logo > ul > li > .button > .LogIn1{
    background-color: #FAFF00;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
}
.sect1 >.logo > ul > li > .button > .LogIn2{
    background-color: #FAFF00;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
}
    .sect1 > .sectContent > h1{
        font-size: 50px;
        margin-left: 100px;
        margin-top: 90px;
        color: #FAFF00;
        font-family: 'Poppins';
    }

.sect1 > .sectContent> p{
    font-size: 30px;
    margin-left: 100px;
    margin-top: 50px;
    color:white;
    font-family: 'Poppins';
    font-weight: 400;

}

.CutTheHustle {
    display: flex;
    margin-top: 40px;
    
}
.CutTheHustle>.Hustle{
    margin: 40px;
}
.CutTheHustle> .Hustle h1{
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}
.CutTheHustle > .Hustle p{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 100;
    margin-bottom: 50px;

}
.CutTheHustle > .Hustle button{
    padding: 10px;
    border-top-right-radius: 15px;
    background-color: black;
    color: #FAFF00;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 100;
    content: "\2192";
}

.CutTheHustle>.Hustle span{
    content: "\2192";
    justify-content: center;
    color:#FAFF00;
    
}

.line{
   
    width: 112px;
    height: 40px;
    border-bottom: 4px solid black;
    position:relative
    }

    .card-items{
        height:max-content;
        background-color: rgb(220,220,220);
        justify-content: space-evenly;
    } 
    
    .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: 200px;
        
    }
    
    .card-items > .movers > h1{
          font-size: 40px;
        margin-left: 100px;
        margin-bottom: 100px;
        font-weight: 200;
        font-family: 'Poppins';
        
        }  
    
    .card-items > .movers > .line-2{
        width: 112px;
        height: 40px;
        border-bottom: 4px solid black;
        position:relative;
        margin-left: 100px;
       
        }
    
    
    
    
    
    .card{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 300px 80px 50px;
        grid-template-areas: "image" "text" "stats";
        border-radius: 24px;
        background-color: white;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        margin-top: 30px;
        margin-left: 100px;
        margin-left: 40px;
        margin-bottom: 10px;
        text-align: center;
        transition: 0.3s;
        width: 300px;
        justify-content:space-evenly;
      
    
    
       
        
    }
    .card-img{
        grid-area: image; 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size: cover;
        background-position: center;
        
    }
    .card-text h1{
        grid-area: text;
        font-size: 20px;
        margin-top: 25px;
    
    }
    
    .card-stats{
        grid-area: stats;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
    }
    .card-stats .stat .value{
        display:inline;
        align-items: center;
        justify-content: center;
        padding: 5px;
        
    
    }
    .card-stats .border{
        height: auto;
        border-left: 1px solid rgba(0,0,0,0.9);
        border-right: 1px solid rgba(0,0,0,0.9);
        border-top: 1px solid rgba(0,0,0,0.9);
        
        
    }
    .card-stats .border-1{
    border-top: 1px solid rgba(0,0,0,0.9);
    width:auto;
    
        
        
    }